In [19]:
import pandas as pd 
orders = pd.read_csv('Dataset/Orders.csv')
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

## Most common `read_csv` options

*  `sep` or `delimiter`: the string that separates the fields. 
*  `delim_whitespace`: a boolean that states if any whitespace is the delimiter
*  `skiprows`: lines to skip. Usually at the beginning of the file, if it contains a comment
*  `nrows`: number of rows to read. Useful for debugging on huge files
*  `low_memory`: boolean (default `True`). Sometimes messes up parsing
*  `na_values`, `keep_default_na`, `na_filter`: change the default behavior for parsing missing data
*  `parse_dates`: dates are a mess to parse. State which columns contain dates
*  `infer_datetime_format`, `dayfirst`: may speed up parsing dates
*  `thousands`, `decimal`: hints for parsing non US-based numbers
*  `encoding`: sometimes you have to set it to `utf-8`

In [11]:
import pandas as pd 
orders = pd.read_csv('Dataset/Orders.csv',sep=';')
#Defines what separates columns (default = comma ,).
orders.head()

  Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0  10248,VINET,5,2012-07-04,2012-08-01,2012-07-16...
1  10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10...
2  10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12...
3  10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15...
4  10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11...

In [12]:
#   it only work when we have file in .text format

#import pandas as pd 
# If True, it uses any whitespace (spaces, tabs) as the separator.
#orders = pd.read_csv('Dataset/Orders.csv', delim_whitespace=True)
#orders.head()

In [13]:
import pandas as pd 
orders = pd.read_csv('Dataset/Orders.csv',skiprows=2)
# Tells pandas to skip some lines at the start of the file (useful if the top lines are comments).
orders.head()

,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
0,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
1,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
2,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium
3,10253,HANAR,3,2012-07-10,2012-07-24,2012-07-16,2,35.50,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
4,10254,CHOPS,5,2012-07-11,2012-08-08,2012-07-23,2,24.25,Chop-suey Chinese,Hauptstr. 31,Bern,Western Europe,3012,Switzerland

In [16]:
import pandas as pd 
orders = pd.read_csv('Dataset/Orders.csv', nrows=10)
# Reads only a limited number of rows — great for testing big files.
orders

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium
5,10253,HANAR,3,2012-07-10,2012-07-24,2012-07-16,2,35.50,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
6,10254,CHOPS,5,2012-07-11,2012-08-08,2012-07-23,2,24.25,Chop-suey Chinese,Hauptstr. 31,Bern,Western Europe,3012,Switzerland
7,10255,RICSU,9,2012-07-12,2012-08-09,2012-07-15,3,37.50,Richter Supermarkt,Starenweg 5,Genève,Western Europe,1204,Switzerland
8,10256,WELLI,3,2012-07-15,2012-08-12,2012-07-17,2,16.75,Wellington Importadora,"Rua do Mercado, 12",Resende,South America,08737-363,Brazil
9,10257,HILAA,4,2012-07-16,2012-08-13,2012-07-22,3,21.50,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,South America,5022,Venezuela

In [18]:


import pandas as pd 
orders = pd.read_csv('Dataset/Orders.csv', low_memory=False)
# Helps with big files; setting low_memory=False can fix mixed-type column errors
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [21]:
import pandas as pd
orders = pd.read_csv('Dataset/Orders.csv', na_values=['?', 'N/A', 'Missing'])
# Treat these strings as missing (NaN) values
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [22]:
import pandas as pd
orders = pd.read_csv('Dataset/Orders.csv', keep_default_na=False)
# Disable pandas' default NA strings (like "NaN", "NA")
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [23]:
import pandas as pd
orders = pd.read_csv('Dataset/Orders.csv', na_filter=False)
# Turn off missing-value detection (faster for clean data)
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [25]:
import pandas as pd
orders = pd.read_csv('Dataset/Orders.csv', parse_dates=['OrderDate'])
# Automatically convert the 'Order Date' column to datetime
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [27]:
import pandas as pd
orders = pd.read_csv('Dataset/Orders.csv', parse_dates=['OrderDate'], infer_datetime_format=True)
# Speed up date parsing when pandas can guess the format
orders.head()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_10908\3081480958.py:2: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  orders = pd.read_csv('Dataset/Orders.csv', parse_dates=['OrderDate'], infer_datetime_format=True)

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [29]:
import pandas as pd
orders = pd.read_csv('Dataset/Orders.csv', parse_dates=['OrderDate'], dayfirst=True)
# Interpret dates like 31/12/2024 as Dec 31 (European style)
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [30]:
import pandas as pd
orders = pd.read_csv('Dataset/Orders.csv', thousands=',')
# Handle numbers like 1,000 or 50,000 properly
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [31]:
import pandas as pd
orders = pd.read_csv('Dataset/Orders.csv', decimal=',')
# Handle European decimals (e.g. 3,14 instead of 3.14)
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [53]:
import pandas as pd
orders = pd.read_csv('Dataset/Orders.csv', encoding='utf-8')
# Fix encoding errors (try 'latin1' or 'ISO-8859-1' if UTF-8 fails)
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [54]:
import pandas as pd
orders = pd.read_csv('Dataset/Orders.csv')
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16818 entries, 0 to 16817
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              16818 non-null  int64
 1   CustomerId      16818 non-null  object
 2   EmployeeId      16818 non-null  int64
 3   OrderDate       16818 non-null  object
 4   RequiredDate    16818 non-null  object
 5   ShippedDate     16797 non-null  object
 6   ShipVia         16818 non-null  int64
 7   Freight         16818 non-null  float64
 8   ShipName        16818 non-null  object
 9   ShipAddress     16818 non-null  object
 10  ShipCity        16818 non-null  object
 11  ShipRegion      16818 non-null  object
 12  ShipPostalCode  16623 non-null  object
 13  ShipCountry     16818 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 1.8+ MB

In [55]:
#extract a customer ID column from the orders dataframe 
orders['CustomerId']

0        VINET
1        TOMSP
2        HANAR
3        VICTE
4        SUPRD
         ...
16813    FOLKO
16814    FRANK
16815    ALFKI
16816    TRADH
16817    ANATR
Name: CustomerId, Length: 16818, dtype: object

In [56]:
orders.iloc[0]

Id                                    10248
CustomerId                            VINET
EmployeeId                                5
OrderDate                        2012-07-04
RequiredDate                     2012-08-01
ShippedDate                      2012-07-16
ShipVia                                   3
Freight                               16.75
ShipName          Vins et alcools Chevalier
ShipAddress              59 rue de l'Abbaye
ShipCity                              Reims
ShipRegion                   Western Europe
ShipPostalCode                        51100
ShipCountry                          France
Name: 0, dtype: object

In [57]:
orders.describe()

                 Id    EmployeeId       ShipVia       Freight
count  16818.000000  16818.000000  16818.000000  16818.000000
mean   18656.500000      4.968546      2.004876    245.692606
std     4855.082749      2.578636      0.817016    147.826090
min    10248.000000      1.000000      1.000000     10.250000
25%    14452.250000      3.000000      1.000000    116.250000
50%    18656.500000      5.000000      2.000000    241.000000
75%    22860.750000      7.000000      3.000000    371.000000
max    27065.000000      9.000000      3.000000    591.250000

In [58]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16818 entries, 0 to 16817
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              16818 non-null  int64
 1   CustomerId      16818 non-null  object
 2   EmployeeId      16818 non-null  int64
 3   OrderDate       16818 non-null  object
 4   RequiredDate    16818 non-null  object
 5   ShippedDate     16797 non-null  object
 6   ShipVia         16818 non-null  int64
 7   Freight         16818 non-null  float64
 8   ShipName        16818 non-null  object
 9   ShipAddress     16818 non-null  object
 10  ShipCity        16818 non-null  object
 11  ShipRegion      16818 non-null  object
 12  ShipPostalCode  16623 non-null  object
 13  ShipCountry     16818 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 1.8+ MB

In [59]:
# show the size of the dataframe
orders.shape

(16818, 14)

In [60]:
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [65]:
# change the ShipVia columns name to via
orders = orders.rename(columns={'ShipVia': 'via'})
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,via,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,Freight_kg
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France,16750.0
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany,22250.0
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil,25000.0
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France,20250.0
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium,36250.0

In [71]:
# create a new column freight_kg obtained by multiplying the Freight by 1000
orders['Freight_kg'] = orders['Freight'] * 1000
orders.head()

,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,via,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,Freight_kg
Id,,,,,,,,,,,,,,
10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France,16750.0
10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany,22250.0
10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil,25000.0
10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France,20250.0
10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium,36250.0

In [72]:
#use ID as index
orders = orders.set_index('Id')
orders.head()

KeyError: "None of ['Id'] are in the columns"

In [74]:
# Restore old index 
orders = orders.reset_index()
orders.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,via,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,Freight_kg
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France,16750.0
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany,22250.0
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil,25000.0
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France,20250.0
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium,36250.0

In [77]:
orders['via'] == 2

0        False
1        False
2         True
3        False
4         True
         ...
16813    False
16814     True
16815    False
16816    False
16817    False
Name: via, Length: 16818, dtype: bool

In [78]:
# extract the Id of the rows where via is equal to 2
orders.loc[orders['via'] == 2, 'Id']

2        10250
4        10252
5        10253
6        10254
8        10256
         ...
16805    27053
16806    27054
16810    27058
16811    27059
16814    27062
Name: Id, Length: 5592, dtype: int64

In [82]:
# extract the Id and customerID of the rows where via is equal to 2
orders.loc[orders['via'] == 2, ['Id', 'CustomerId']]

          Id CustomerId
2      10250      HANAR
4      10252      SUPRD
5      10253      HANAR
6      10254      CHOPS
8      10256      WELLI
...      ...        ...
16805  27053      GREAL
16806  27054      LEHMS
16810  27058      SPECD
16811  27059      BLAUS
16814  27062      FRANK

[5592 rows x 2 columns]

In [85]:
# EXTRACT THE FIFTH ROW AND TENTH ROW
orders.iloc[[4, 9]]

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,via,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,Freight_kg
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium,36250.0
9,10257,HILAA,4,2012-07-16,2012-08-13,2012-07-22,3,21.50,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,South America,5022,Venezuela,21500.0

In [88]:
orders.iloc[[10252, 10257]]

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,via,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,Freight_kg
10252,20500,LETSS,9,2014-12-18 14:01:23,2015-01-28 10:25:11,2014-12-31 10:16:59,3,145.75,White Clover Markets,1029 - 12th Ave. S.,Seattle,North America,98124,USA,145750.0
10257,20505,GOURL,7,2012-07-17 11:30:52,2012-08-06 02:10:40,2012-07-21 02:11:57,1,280.75,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,South America,5022,Venezuela,280750.0